<html>
<head>
    <title>Página de endereços</title>
    <script src="../script/home.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/home.css" media="screen" />
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/171/171322.png">  


</head>
<body>
    <a href="../index.html"><strong>Página Inicial</strong></a>
    <br>
    <br>
    <a href="./endereco.html"><strong>Cadastrar endereço</strong></a>
    <br>
    <br>
    <span>LISTA DE ENDEREÇOS</span>
    <br>
    <br>
    <table id="tabelaendereco">
        <thead>
            <tr>
                <th>Endereço</th>
                <th>Número</th>
                <th>CEP</th>
                <th>Título</th>
            </tr>
        </thead>
    </table>
</body>
</html>