<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Login</title>
    <script src="../script/login.js"></script>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/171/171322.png">
    <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen" />    
    
</head>
<body>
    
<div class="form-container">
    <h2>Fazer login</h2>
    
    <input type="text" id="email" name="email" placeholder="Digite seu e-mail">
    
    <input type="password" id="password" name="password" placeholder="Digite sua senha">
    
    <input type="button" value="Login" onclick="login()">   

    <p>Não possui uma conta? <a href="../view/cadastro.html">Cadastre-se</a></p>
</div>

</body>
</html>